body {
    margin: 0;
    font-family: "Lucida Grande";
  }
header {
    height: 65px;
    width: 100%;
    background-color: rgba(27, 29, 29, 0.9);

}

h1 {
    opacity: 0.7;
  font-size: 35px;
  letter-spacing: 5px;
  margin-bottom: 7px;
  color: rgb(247, 250, 249);
}

/* ici je m'occupe de header  mon container*/
.container {
  width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}
.header-left {
  float: left;
  margin-bottom: 20px;
}
.header-right {
  float: right;
  background-color: rgba(255, 255, 255, 0.22);
  transition: all 0.5s;
  margin-bottom: 20px;
}
.logo {
  width: 64px;
  }

  /* Ici style du scoreboard*/
.scoreboard {
  background-color:rgb(240, 238, 238) ;
  border-left: 15px solid #5C0080;
  width: 800px;
  height: 190px;
  margin: 40px 0px 0px 40px;
  display: flex;
  flex-wrap: wrap;

  }

  /* POurquoi le tableau ne prend pas toute la largeur ? réponse faut lui ajouter flex:1 ??*/
.row {
    display: flex;
    flex:1;


  }

  #row1 {
    border-bottom: 10px solid green;
  }

  /* Style player name*/
  /* Comment faire pour que player name occupe 50% de la place? */
  .playername {
     flex-grow: 4;
  } */
  .manche {
    flex: 1%;
  }
.score {
  flex:1%;
}



