body {
    margin: 0;
    font-family: "Lucida Grande";
  }
header {
    height: 65px;
    width: 100%;
    background-color: rgba(27, 29, 29, 0.9);

}

h1 {
  opacity: 0.7;
  font-size: 35px;
  letter-spacing: 5px;
  margin-bottom: 7px;
  color: rgb(247, 250, 249);
}

/* ici je m'occupe de header  mon container*/
.container {
  /* width: 1170px; */
  padding: 0 15px;
  margin: 0 auto;
}
.header-left {
  float: left;
  margin-bottom: 20px;
}
.header-right {
  float: right;
  background-color: rgba(255, 255, 255, 0.22);
  transition: all 0.5s;
  margin-bottom: 20px;
}
.logo {
  width: 64px;
  }

  /* Ici style du scoreboard*/

.scoreboard {
  width: 70%;
  text-align:center;
  margin: 50px;
  background-color:rgb(240, 238, 238) ;
  border-left: 15px solid #5C0080;
}


/* .ligne {
  border: 1px solid rgb(76, 68, 126);
  height: 49%;

} */

#ligne1, #ligne2 {
  display: flex;
  border: 1px  solid grey;
  background-color: white;
  align-items: center;
 }
 .joueur_1{
   display: flex;

 }
.name{
  display:flex;
  width: 90%;
  /* margin: auto; */
  padding: auto;
  color: purple;
  font-weight: 800;
  font-size:40px;
  text-align:center;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
}

.score1, .score2 {
  display:flex;
  width: 40%;
  /* margin: auto;
  padding: auto; */
  color: rebeccapurple;
  font-weight: 800;
  font-size:40px;
}
#set1p1, #set2p1, #set3p1, #pointsp1, #set1p2, #set2p2, #set3p2, #pointsp2{
  border: 1px solid grey;
  width:20%;
  padding: 0.5rem;
  color: whitesmoke;
  font-weight: 800;
  text-align: center;
  font-size:2.5rem;

}
/*réglage background sets */
#set1p1, #set3p1, #set1p2, #set3p2 {
background-color: green;

}
 #set2p1, #set2p2{
  background-color: #5C0080;

}
#pointsp1, #pointsp2{
  color: rebeccapurple;
  width: 30%;
  font-size:40px;
}

.triangle{
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 12px 25px 12px 0;
  border-color: transparent #5f048a transparent transparent;
  margin-right: 5px;
}
.triangle_hidden{
  visibility: hidden;
}
/* style des boutons  */
#reset{
  cursor: pointer;
  background-color: rgb(12, 94, 66);
  margin-top: 15px;
  border-radius: 34px;
  line-height: 1.5rem;
	font-size: 2rem;
  padding: 20px;
  color: aliceblue;
  position: absolute;
    left: 2rem;
}
#editValues, #editValues2{
  cursor: pointer;
	position: absolute;
  /* left: 250px; */
	padding: 1.5rem 1.5rem;
	border-radius: 2.75rem;
	line-height: 2.5rem;
	font-size: 2rem;
	font-weight: 600;
	border: 1px solid #012880;
  background: #dddee8;
	box-shadow: inset 0 0 .125em rgba(#fff, .75);
	color: whitesmoke;
}
#reset:hover{
  transform: translateY(.125em);
  background: rgb(26, 194, 116);
  box-shadow: 3px 3px 2px rgb(176, 211, 193) inset;
}
#editValues{
  background: dodgerblue;
  left: 16rem;
}
#editValues2{
  background: rgb(185, 37, 148);
  position: absolute;
  left: 32rem;
}
#editValues2:hover{
  background: rgb(242, 7, 183);
  box-shadow: 3px 3px 2px rgb(247, 201, 247) inset;
  transform: translateY(.125em);
  }
#editValues:hover{
    background: rgb(95, 139, 220);
    box-shadow: 3px 3px 12px #333 inset;
    transform: translateY(.125em);
   }
 #editValues:focus{
    background: rgb(37, 5, 150);
    box-shadow: 3px 3px 2px #333 inset;
     }
     #editValues2:focus{
      background: rgb(123, 4, 107);
      box-shadow: 3px 3px 2px #333 inset;
       }

/* barre des boutons */
.barre{
  display: inline;
}
